<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8" />
        <title>Notetaker</title>
        {% load static %}
        <link rel="stylesheet" href = "{% static 'notetaker/style.css' %}">
    </head>
    <body>
        <div class = "wrapper">
            <div class = "view">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ doc_form.as_p }}
                    <button type="submit" name = "upload">Upload</button>
                </form>

                {% if new_doc_url %}
                    <h3>Highlighted PDF:</h3>
                    <embed src="{{ new_doc_url }}" type="application/pdf" width="100%" height="600px"></embed>
                {% elif document_url %}
                    <h3>Uploaded PDF:</h3>
                    <embed src="{{ document_url }}" type="application/pdf" width="100%" height="600px"></embed>  
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <button type ="submit" name = "delete">Delete</button>
                </form>
            </div>
            <div class = "notes">
                <p>NOTES</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ note_form.as_p }}
                    <button type="submit" name = "add-note" onclick  = "add_note()">Add Note</button>
                </form>
                <div class = "note-wrapper">
                    {% for note in notes %}
                    <div class = "note">
                        <p> {{ note.content|linebreaks }} </p>
                        <form method = "POST">
                            {% csrf_token %}
                            <button type = "submit" name = "delete-note" value = "{{ note.id }}">Delete</button>
                        </form>
                    </div>
                    {% empty %}
                    <p>No notes yet.</p>
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ note_form.as_p }}
                    <button type = "submit" name="highlight">Highlight</button>
                </form>
            </div>
        </div>
    </body>

    <script src = "{% static 'index.js' %}"></script>


</html>